/* white */
/* white */
/* almost black */
/* green */
/* darker green */
/* blue */
/* black */
/* black */
/* white */
/* white */
/* white */
.c-green {
  color: #76BF58; }

.c-bold {
  font-weight: bold; }

.c-active {
  color: #3EA0C7 !important; }

.c-text-center {
  text-align: center; }

.c-text-justify {
  text-align: justify; }

.c-nomargin {
  margin: 0; }

@media (max-width: 740px) {
  .c-tablet-hide {
    display: none !important; } }
@media (min-width: 741px) {
  .c-computer-hide {
    display: none !important; } }
.c-header {
  width: 100%; }

.c-nav-up {
  background: #D8CCBC;
  width: 100%;
  font-weight: bold;
  text-align: center; }

.c-nav-up__ul {
  list-style-type: none;
  width: 100%;
  max-width: 75rem;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }

.c-nav__a-title {
  color: #000000; }

.c-nav__a-title:hover {
  text-decoration: none; }

.c-nav__a {
  color: #000000; }

.c-nav__a:hover {
  color: #3EA0C7;
  text-decoration: none; }

.c-nav__ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.c-flag {
  height: 1.5rem;
  width: auto; }

/*  main - header (with img)  */
.c-header__obr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header.jpg");
  background-size: cover;
  padding: 3rem 0 3rem 0; }

.c-header__title {
  font-weight: bold; }

.c-header__text {
  box-sizing: border-box;
  max-width: 50rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  text-align: center; }

.c-header__btn {
  background: #76BF58;
  color: #FFFFFF;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem; }

.c-header__btn:hover {
  cursor: pointer;
  background: #348413; }

@media (max-width: 350px) {
  /*  main - header (with img)  */
  .c-header__title {
    font-size: 100%; }

  .c-header__question {
    font-size: 95%; }

  .c-header__text {
    padding: 1rem; }

  .c-header__btn {
    font-size: 90%; } }
@media (max-width: 740px) {
  /*  nav up (logo) */
  .c-nav-up__li {
    padding: 1rem;
    display: flex;
    align-items: center; }

  .c-nav__a-title {
    color: #000000;
    font-size: 20px;
    padding-left: 1rem; }

  .c-nav-hamburger {
    font-size: 25px !important; }

  .c-nav-dots {
    font-size: 20px !important; }

  /*  nav (home, about...) */
  .c-nav {
    text-align: center; }

  /*  nav (logian, registration) */
  .c-nav-login {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0; }
    .c-nav-login li {
      width: fit-content;
      margin: 0;
      padding: 1rem;
      font-weight: bold;
      font-size: smaller; }

  /*   nav (home, about...)   */
  .c-nav {
    text-align: center; }

  .c-nav__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0; }

  .c-nav__li {
    padding: 1rem 0 1rem 0; } }
@media (min-width: 351px) {
  /*  main - header (with img)  */
  .c-header__title {
    font-size: 30px; }

  .c-header__question {
    font-size: 25px; }

  .c-header__text {
    padding: 2rem; }

  .c-header__btn {
    font-size: 20px; } }
@media (min-width: 741px) {
  /*  nav up  (logo, login...)*/
  .c-nav-up__li {
    padding: 1rem 0 1rem 0; }

  .c-nav__a-title {
    font-size: 30px; }

  /*  nav  (home, about...*/
  .c-nav {
    font-weight: bold;
    text-align: center; }

  .c-nav__ul {
    display: inline-flex;
    width: 100%;
    max-width: 75rem;
    justify-content: space-between;
    align-items: center; }

  .c-nav__li {
    padding: 2rem 0 2rem 0; }

  /*  main - header (with img) */
  .c-header__obr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/header.jpg");
    background-size: cover;
    padding: 3rem 0 3rem 0; }

  .c-header__title {
    font-size: 30px;
    font-weight: bold; }

  .c-header__question {
    font-size: 25px; }

  .c-header__text {
    padding: 2rem;
    box-sizing: border-box;
    max-width: 50rem;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    text-align: center; }

  .c-header__btn {
    background: #76BF58;
    color: #FFFFFF;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem; }

  .c-header__btn:hover {
    cursor: pointer;
    background: #348413; } }
@media (min-width: 741px) and (max-width: 1230px) {
  .c-nav-up__ul {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .c-nav__ul {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; } }
body {
  background: #E1D8CC;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0; }

a {
  color: #76BF58;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/*  content  */
.c-logo-utipa {
  width: auto;
  height: 7rem;
  padding: 0 0 2rem 5rem; }

.c-content__block {
  width: 100%;
  display: flex;
  justify-content: center; }

.c-content {
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 5rem;
  max-width: 75rem; }

.c-content__quot {
  color: #76BF58;
  font-weight: bold;
  text-align: center; }

.c-content__header-low {
  color: #76BF58;
  margin-bottom: 0; }

.c-content__textandlogo {
  display: inline-flex; }

.c-content__minimenu__ul {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center; }

.c-content__minimenu__li {
  display: flex;
  align-items: flex-start; }

.fas {
  font-size: 0.1rem;
  margin: auto 1rem auto 1rem; }

.c-content__icons-ul {
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0; }

.c-content__icons-li {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto 1rem auto 1rem;
  text-align: center; }

.c-content__nmbrs-ul {
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0; }

.c-content__nmbrs-li {
  padding: 1rem;
  margin: auto 1rem auto 1rem; }

.c-content__nmbrs-a {
  display: flex;
  flex-direction: column;
  text-align: center; }

/*  outputs  */
.c-outputs {
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 2rem 1rem 2rem; }

.c-outputs__heading {
  text-align: center;
  font-weight: normal; }

.c-outputs__ul {
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0; }

.c-outputs__li {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem;
  margin: 0.2rem;
  background: #FFFFFF;
  width: 25%; }

.c-outputs__li-btn {
  background: #FFFFFF;
  border: 2px solid #3EA0C7;
  color: #3EA0C7;
  width: 80%;
  padding: 1rem;
  cursor: pointer; }

.c-footer {
  max-width: 75rem;
  margin: auto; }

/*  footer up  */
.c-footer-up {
  background: #FFFFFF;
  text-align: center;
  line-height: 1.6;
  padding: 1rem; }

.c-footer-up__header {
  margin-bottom: 0; }

.c-footer-up__address {
  font-style: normal; }

/*  footer down  */
.c-footer-down {
  background: #333132;
  text-align: center;
  color: #FFFFFF;
  padding: 1rem; }

.c-footer-down__nav-ul {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center; }

.c-footer-down__nav-li {
  padding: 0 1rem 1rem 1rem; }

.c-footer-down__nav-a {
  color: #FFFFFF; }

.c-footer-down__nav-a:hover {
  color: #3EA0C7;
  text-decoration: none; }

.c-footer-down__a {
  font-weight: bold;
  color: #FFFFFF; }

.c-footer-down__a:hover {
  color: #3EA0C7; }

.c-footer-down__badge {
  padding: 1rem;
  height: 4rem;
  width: auto; }

/*# sourceMappingURL=main.css.map */
