$color-background: #E1D8CC;
$color-nav: #D8CCBC;
$color-content: #FFFFFF;   /* white */
$color-footer-up: #FFFFFF;   /* white */
$color-footer-down: #333132;  /* almost black */
$color-utipa-green: #76BF58;  /* green */
$color-green-dark: #348413;  /* darker green */
$color-utipa-blue: #3EA0C7;     /* blue */
$color-text: #000000;     /* black */
$color-header-text-bg: #000000;     /* black */
$color-text-invert: #FFFFFF;   /* white */
$color-btn-output-bg: #FFFFFF;   /* white */
$color-output-bg: #FFFFFF;   /* white */


$width-page: 75rem;


.c-green{
  color: $color-utipa-green;
}
.c-bold{
  font-weight: bold;
}
.c-active{
  color: $color-utipa-blue !important;
}
.c-text-center{
  text-align: center;
}
.c-text-justify{
  text-align: justify;
}
.c-nomargin{
  margin: 0;
}


.c-flag{
  height: 1.5rem;
  width: auto;
}
.c-logo-utipa{
  width: auto;
  height: 7rem;
  padding: 0 0 2rem 5rem;
}



/* --- HEAD --- */
.c-header{
}
/*  nav up  */
.c-nav-up{
  background: $color-nav;
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.c-nav-up__ul{
  list-style-type: none;
  width: 100%;
  max-width: $width-page;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav-up__li{
  padding: 1rem 0 1rem 0;
}
.c-nav__a-title{
  color: $color-text;
  font-size: 30px;
}
.c-nav__a-title:hover{
  text-decoration: none;
}
.c-nav__a{
  color: $color-text;
}
.c-nav__a:hover{
  color: $color-utipa-blue;
  text-decoration: none;
}

/*  nav  */
.c-nav{
  font-weight: bold;
  text-align: center;
}
.c-nav__ul{
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  max-width: $width-page;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.c-nav__li{
  padding: 2rem 0 2rem 0;
}

/*  main - header  */
.c-header__obr{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header.jpg");
  background-size: cover;
  padding: 3rem 0 3rem 0;
}
.c-header__title{
  font-size: 30px;
  font-weight: bold;
}
.c-header__question{
  font-size: 25px;
}
.c-header__text{
  padding: 2rem;
  box-sizing: border-box;
  max-width: 50rem;
  margin: 0;
  background: transparentize($color-header-text-bg, 0.7);
  color: $color-text-invert;
  text-align: center;

}
.c-header__btn{
  background: $color-utipa-green;
  color: $color-text-invert;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
}
.c-header__btn:hover{
  cursor: pointer;
  background: $color-green-dark;
}




/* --- BODY --- */
body{
  background: $color-background;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
a{
  color: $color-utipa-green;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}



/*  content  */
.c-content__block{
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-content{
  background: $color-content;
  box-sizing: border-box;
  padding: 5rem;
  max-width: $width-page;
}
.c-content__quot{
  color: $color-utipa-green;
  font-weight: bold;
  text-align: center;
}
.c-content__header-low{
  color: $color-utipa-green;
  margin-bottom: 0;
}
.c-content__textandlogo{
  display: inline-flex;
}
.c-content__minimenu__ul{
   list-style-type: none;
   display: inline-flex;
   width: 100%;
   padding: 0;
   margin: 0;
   justify-content: center;
}
.c-content__minimenu__li{
  display: flex;
  align-items: flex-start;
}
.fas{
  font-size: 0.1rem;
  margin: auto 1rem auto 1rem;
}

.c-content__icons-ul{
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.c-content__icons-li{
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto 1rem auto 1rem;
  text-align: center;
}

.c-content__nmbrs-ul{
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.c-content__nmbrs-li{
  padding: 1rem;
  margin: auto 1rem auto 1rem;
}
.c-content__nmbrs-a{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*  outputs  */
.c-outputs{
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 2rem 1rem 2rem;
}
.c-outputs__heading{
  text-align: center;
  font-weight: normal;
}
.c-outputs__ul{
  list-style-type: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 0;
}
.c-outputs__li{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem;
  margin: 0.2rem;
  background: $color-output-bg;
  width: 25%;
}
.c-outputs__li-btn{
  background: $color-btn-output-bg;
  border: 2px solid $color-utipa-blue;
  color: $color-utipa-blue;
  width: 80%;
  padding: 1rem;
  cursor: pointer;
}


/* --- FOOTER --- */
.c-footer{
  max-width: $width-page;
  margin: auto;
}
/*  footer up  */
.c-footer-up{
  background: $color-footer-up;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
}
.c-footer-up__header{
  margin-bottom: 0;
}
.c-footer-up__address{
  font-style: normal;
}



/*  footer down  */
.c-footer-down{
  background: $color-footer-down;
  text-align: center;
  color: $color-text-invert;
  padding: 1rem;
}
.c-footer-down__nav-ul{
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.c-footer-down__nav-li{
  padding: 0 1rem 1rem 1rem;
}
.c-footer-down__nav-a{
  color: $color-text-invert;
}
.c-footer-down__nav-a:hover{
  color: $color-utipa-blue;
  text-decoration: none;
}
.c-footer-down__a{
  font-weight: bold;
  color: $color-text-invert;
}
.c-footer-down__a:hover{
  color: $color-utipa-blue;
}
.c-footer-down__badge{
  padding: 1rem;
  height: 4rem;
  width: auto;
}




