
body{
  background: $color-background;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}
.c-content-heading{
  font-size: 2.5rem;   //36px
}
a{
  color: $color-utipa-green;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/*  content  */
.c-content__block {
  display: flex;
  justify-content: center;
}
.c-content {
  background: $color-content;
  box-sizing: border-box;
}
.c-content__quot {
  color: $color-utipa-green;
  font-weight: bold;
  text-align: center;
}
.c-content__header-low {
  color: $color-utipa-green;
  margin-bottom: 0;
}
.c-content__minimenu__ul {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.c-minimenu__divider {
  font-size: 0.1rem;
  margin: auto 1rem auto 1rem;
}

.c-content__icons-ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.c-content__icons-li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  align-items: center;
  img{
    max-width: 8rem;
    max-height: 8rem;
  }
}
.c-content__nmbrs-ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.c-content__nmbrs-li {
  padding: 1rem;
  margin: auto 1rem auto 1rem;
}
.c-content__nmbrs-a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.c-nmbrs__img{
  width: 5rem;
  height: auto;
  margin: 1rem 0 1rem 0;
}
.c-nmbrs__imgs{
  position: relative;
  width: 5rem;
  height: auto;
}
.c-nmbrs__img-off{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.c-nmbrs__img-on{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.c-nmbrs__imgs:hover .c-nmbrs__img-off {
  opacity: 0;
}
.c-nmbrs__imgs:hover .c-nmbrs__img-on {
  opacity: 1;
}

/*  outputs  */
.c-outputs {
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 2rem 1rem 2rem;
}
.c-outputs__heading {
  text-align: center;
  font-weight: normal;
}
.c-outputs__ul {
  list-style-type: none;
  padding: 0;
}
.c-outputs__li {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  background: $color-output-bg;
  justify-content: space-between;
}

.c-outputs__li-btn {
  background: $color-btn-output-bg;
  border: 2px solid $color-utipa-blue;
  color: $color-utipa-blue;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: 400ms;
}
.c-outputs__li-btn:hover{
  background: $color-utipa-blue;
  color: $color-text-invert;
}

.c-outputs__downblock{
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.c-outputs__img{
  transition: 400ms;
  display: block;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
}
.c-outputs__block{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparentize(#e1d8cc, 0.7);
}
.c-outputs__a{
  width: 100%;
  height: 100%;
}
.c-outputs__block-effect{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: $color-utipa-green;
}
.c-outputs__block:hover .c-outputs__block-effect {
  opacity: 0.5;
}


/*  PAGES  */
.c-content__heading-first{
  text-align: center;
}
.c-content__heading-next{
  font-size: 2.2rem;
  font-weight: normal;
}
.c-content__text{
  text-align: justify;
}
.c-content__bg{
  width: 90%;
  background: $color-content;
  margin: auto;
}


@media (max-width: $tablet) { //MOBILE & TABLET

  /*  content  */
  .c-logo-utipa {
    width: auto;
    max-height: 5rem;
    padding: 1rem;
    order: 1;
  }
  .c-content__firsttex{
    order: 3;
  }
  .c-content__nexttext{
    order: 4;
  }
  .c-content__block {
    width: 90%;
    margin: auto;
  }
  .c-content {
    padding: 1rem 2rem 1rem 2rem ;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .c-content-heading{
    text-align: center;
    order: 2;
  }
  .c-content__quot {
    order: 5;
  }
  .c-content__textandlogo {
    display: flex;
    flex-direction: column;
  }
  .c-content__minimenu__ul {
    flex-wrap: wrap;
  }
  .c-content__icons-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 6;
  }
  .c-content__icons-li {
    width: 100%;
  }
  .c-content__nmbrs-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 8;
  }
  .c-content__moreinfo{
    order: 7;
  }


}

@media (max-width: 554px) {
  /*  outputs  */
  .c-outputs {
    padding: 3rem 1rem 1rem 1rem;
  }
  .c-outputs__ul {
    display: flex;
    flex-direction: column;
  }
  .c-outputs__li {
    box-sizing: border-box;
    margin: 0.2rem 0 0.2rem 0;
    width: 100%;
  }
}

@media (min-width: 555px) and (max-width: $tablet){
  /*  outputs  */

  .c-outputs__ul {
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
  }
  .c-outputs__li {
    box-sizing: border-box;
    margin: 0.2rem auto 0.2rem auto;
    width: 49%;
  }
}

@media (min-width: $tablet+1px) { //COMPUTER

  /*  content  */
  .c-logo-utipa {
    width: auto;
    max-height: 7rem;
    padding: 0 0 2rem 5rem;
  }
  .c-content__block {
    width: 100%;
  }
  .c-content {
    box-sizing: border-box;
    padding: 5rem;
    max-width: $width-page;
  }
  .c-content__textandlogo {
    display: inline-flex;
  }
  .c-content__minimenu__li {
    display: flex;
    align-items: flex-start;
  }
  .c-content__icons-ul {
    display: inline-flex;
    justify-content: center;
  }
  .c-content__icons-li {
    max-width: 10rem;
  }

  .c-content__nmbrs-ul {
    display: inline-flex;
    justify-content: center;
  }

  .c-content__quot {
    font-size: x-large;
  }

  /*  outputs  */
  .c-outputs__ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  .c-outputs__li {
    margin: 0.2rem;
    width: 25%;
  }
}

@media (min-width: $tablet+1px) and (max-width: 900px){
  .c-content {
    padding: 2rem;
  }
}