.c-footer{
  max-width: $width-page;
  margin: auto;
}
/*  footer up  */
.c-footer-up{
  background: $color-footer-up;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
}
.c-footer-up__header{
  margin-bottom: 0;
}
.c-footer-up__address{
  font-style: normal;
}



/*  footer down  */
.c-footer-down{
  background: $color-footer-down;
  text-align: center;
  color: $color-text-invert;
  padding: 1rem;
}
.c-footer-down__nav-ul{
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.c-footer-down__nav-li{
  padding: 0 1rem 1rem 1rem;
}
.c-footer-down__nav-a{
  color: $color-text-invert;
}
.c-footer-down__nav-a:hover{
  color: $color-utipa-blue;
  text-decoration: none;
}
.c-footer-down__a{
  font-weight: bold;
  color: $color-text-invert;
}
.c-footer-down__a:hover{
  color: $color-utipa-blue;
}
.c-footer-down__badge{
  padding: 1rem;
  height: 4rem;
  width: auto;
}
