

.c-header{
  width: 100%;
}

.c-nav-up{
  background: $color-nav;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.c-nav-up__ul{
  list-style-type: none;
  width: 100%;
  max-width: $width-page;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav__a-title{
  color: $color-text;
}
.c-nav__a-title:hover{
  text-decoration: none;
}
.c-nav__a{
  color: $color-text;
  height: 100%;
  width: 100%;
  transition: 400ms;    //effect delay
}
.c-nav__a:hover{
  color: $color-utipa-blue;
  text-decoration: none;
}
.c-nav__ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.c-flag{
  height: 1.5rem;
  width: auto;
  opacity: 0.5;
  transition: 400ms;
}
.c-flag:hover{
  opacity: 1;
}


/*  main - header (with img)  */
.c-header__obr{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header.jpg");
  background-size: cover;
  padding: 3rem 0 3rem 0;
}
.c-header__title{
  font-weight: bold;
}
.c-header__text{
  box-sizing: border-box;
  max-width: 50rem;
  margin: 0;
  background: transparentize($color-header-text-bg, 0.7);
  color: $color-text-invert;
  text-align: center;

}
.c-header__btn{
  background: $color-btn-header-bg;
  color: $color-text-invert;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 3rem;
  box-shadow: 0 0 25px black;
  transition: 400ms;
  font-weight: bold;
}
.c-header__btn:hover{
  cursor: pointer;
  background: $color-green-dark;
}





@media (max-width: 350px){    //MOBILE
  /*  main - header (with img)  */

  .c-header__title{
    font-size: 100%;
  }
  .c-header__question{
    font-size: 95%;
  }
  .c-header__text{
    padding: 1rem;
  }
  .c-header__btn{
    font-size: 90%;
  }
}


@media (max-width: $tablet){    //MOBILE & TABLET
  /*  nav up (logo) */
  .c-nav-up__li{
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  .c-nav__a-title{
    color: $color-text;
    font-size: 20px;
    padding-left: 1rem;
  }
  .c-nav-hamburger{
    font-size: 25px !important;
  }
  .c-nav-dots{
    font-size: 20px !important;
  }

  /*  nav (home, about...) */
  .c-nav{
    text-align: center;
  }

  /*  nav (login, registration) */
  .c-nav-login{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    li{
      width: fit-content;
      margin: 0;
      padding: 1rem;
      font-weight: bold;
      font-size: smaller;
    }
  }

  /*   nav (home, about...)   */
  .c-nav{
    text-align: center;
  }
  .c-nav__ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .c-nav__li{
    padding: 1rem 0 1rem 0;
  }

}

@media (min-width: 351px){    //from bigger MOBILE
  /*  main - header (with img)  */
  .c-header__title{
    font-size: 30px;
  }
  .c-header__question{
    font-size: 25px;
  }
  .c-header__text{
    padding: 2rem;
  }
  .c-header__btn{
    font-size: 20px;
  }
}


@media (min-width: $tablet+1px){    //COMPUTER
  /*  nav up  (logo, login...)*/
  .c-nav-up__li{
    padding: 1rem 0 1rem 0;
  }
  .c-nav__a-title{
    font-size: 40px;
  }

  /*  nav  (home, about...*/
  .c-nav{
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 999;
    background: $color-background;
  }
  .c-nav-up{
    position: relative;
    z-index: 999;
  }
  .c-nav-move {   //menu when scroll
    font-weight: bold;
    text-align: center;
    background: $color-background;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 900;
    box-shadow: 0 2px 10px gray;
  }


  .c-nav__ul{
    display: inline-flex;
    width: 100%;
    max-width: $width-page;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  .c-nav__li{
    padding: 1rem 0 1rem 0;
  }

  /*  main - header (with img) */
  .c-header__obr{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/header.jpg");
    background-size: cover;
    padding: 3rem 0 3rem 0;
  }
  .c-header__title{
    font-size: 30px;
    font-weight: bold;
  }
  .c-header__question{
    font-size: 25px;
  }
  .c-header__text{
    padding: 2rem;
    box-sizing: border-box;
    max-width: 50rem;
    margin: 0;
    background: transparentize($color-header-text-bg, 0.7);
    color: $color-text-invert;
    text-align: center;

  }
  .c-header__btn{
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    font-size: 20px;
  }
}

@media (min-width: $tablet+1px) and (max-width: 1230px){
  .c-nav-up__ul{
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .c-nav__ul{
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}