


/*  footer up  */
.c-footer-up{
  background: $color-footer-up;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
  margin-top: 2rem;
}
.c-footer-up__header{
  margin-bottom: 0;
}
.c-footer-up__address{
  font-style: normal;
}

/*  footer down  */
.c-footer-down{
  background: $color-footer-down;
  text-align: center;
  color: $color-text-invert;
  padding: 1rem;
}
.c-footer-down__nav-ul{
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.c-footer-down__nav-li{
  padding: 0 1rem 1rem 1rem;
}
.c-footer-down__nav-a{
  color: $color-text-invert;
  transition: 400ms;
}
.c-footer-down__nav-a:hover{
  color: $color-utipa-blue;
  text-decoration: none;
}
.c-footer-down__a{
  font-weight: bold;
  color: $color-text-invert;
}
.c-footer-down__a:hover{
  color: $color-utipa-blue;
}
.c-footer-down__badge{
  padding: 1rem;
}
.c-footer-down__badge:hover{
  cursor: pointer;
  opacity: 0.7;
}

.c-backtotop{
  background: $color-utipa-green;
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2.5rem;
}
.c-backtotop-a{
  color: $color-text-invert;
  font-size: 30px;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}
.c-backtotop:hover{
  background: $color-green-dark;
  transition: .5s ease;
}

@media (max-width: $tablet) { //MOBILE & TABLET
  .c-footer{
    max-width: 100%;
  }
  /*  footer down  */
  .c-footer-down__nav-ul{
    display: flex;
    flex-direction: column;
  }
  .c-footer-down__text{
    font-size: smaller;
  }
  .c-footer-down__badge{
    height: 3rem;
    width: auto;
  }
}

@media (min-width: $tablet+1px) { //COMPUTER
  .c-footer{
    max-width: $width-page;
    margin: auto;
  }

  /*  footer down  */
  .c-footer-down__nav-ul{
    display: inline-flex;
  }
  .c-footer-down__badge{
    height: 4rem;
    width: auto;
  }
}