.c-green{
  color: $color-utipa-green;
}
.c-bold{
  font-weight: bold;
}
.c-nobold{
  font-weight: normal;
}
.c-active{
  color: $color-utipa-blue !important;
}
.c-text-center{
  text-align: center;
}
.c-text-justify{
  text-align: justify;
}
.c-nomargin{
  margin: 0;
}



@media (max-width: $tablet) {
  .c-tablet-hide {
    display: none !important;
  }
}
@media (min-width: $tablet+1px) {
  .c-computer-hide {
    display: none !important;
  }
}