
$color-background: #E1D8CC;
$color-nav: #D8CCBC;
$color-content: #FFFFFF;   /* white */
$color-footer-up: #FFFFFF;   /* white */
$color-footer-down: #333132;  /* almost black */
$color-utipa-green: #76BF58;  /* green */
$color-green-dark: #348413;  /* darker green */
$color-utipa-blue: #3EA0C7;     /* blue */
$color-text: #000000;     /* black */
$color-header-text-bg: #000000;     /* black */
$color-text-invert: #FFFFFF;   /* white */
$color-btn-output-bg: #FFFFFF;   /* white */
$color-output-bg: #FFFFFF;   /* white */
$color-btn-header-bg: #51A049;   /* green */

$width-page: 75rem;


$mobile:  320px;
$tablet:  740px;
$desktop: 980px;
$wide:    1300px;







